@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border border-gray-200 dark:border-dark-border;
  }
  
  body {
    @apply bg-gray-50 text-gray-800 dark:bg-dark-bg dark:text-gray-200;
    @apply font-sans antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
