@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-800 dark:bg-dark-bg dark:text-gray-200;
    @apply font-sans antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .pop-in-hidden {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  
  .pop-in-visible {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  }
}
